.mat-toolbar-row{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.logo{
    text-decoration: none;
    font-size:26px;
    font-weight: bold;
    color: black
}

#in{
    width: 150px;
    height: 70px
}