:root {
    --azul: rgb(0, 205, 255);
    --darkazul: rgb(0, 131, 163);
}

header {
    width: 960px;
    margin: 0 auto;
    margin-bottom: 20px;
    /* border: 1px solid; */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_main {
    border: none;
    background: transparent;
}

.search input,
.search button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(0, 205, 255);
    margin-right: 5px;
    color: rgb(0, 205, 255);
}

.search input::placeholder {
    color: rgb(0, 205, 255);
}

.search input:hover,
.search button:hover,
.search input:focus {
    border: 1px solid rgb(0, 131, 163);
    background-color: rgb(0, 205, 255);
    color: white;
}

.search button {
    background: white;
    margin: 0;
    border-color: rgb(0, 205, 255);
}