.posicao {
    position: absolute;
    width: 170px;
    height: 100px;
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

#fundo{
    top: 20px;
    left: 5px;
    width: 300px;
    height: 250px;
    background-color: #eee;
    border: solid;
    z-index: 1;
}
#laranja{
    top: 60px;
    left: 20px;
    background-color: orange;
    border: solid;
    z-index: 2;
}

#azul{
    top: 100px;
    left: 60px;
    background-color: #0066ff;
    border: solid;
    z-index: 3;
}

#branca{
    top: 140px;
    left: 100px;
    background-color: #ffffff;
    height: 100px;
    border: solid;
    z-index: 4;
}