:root{
    --azul: rgb(0,205,255);
    --darkazul:  rgb(0, 131, 163);
}

#bt_pesquisa{
    border: var(--bs-btn-border-width) solid var(--azul);
    color: var(--azul);
}
#bt_pesquisa:hover{
    color: var(--darkazul);
    border: var(--bs-btn-border-width) solid var(--darkazul);
}

#menu, #menu *{
    background: white !important;
}

#login_item_dropdown{
    display: none;
}

header, section{
    max-width: 960px;
    margin: 0 auto;
    /* border: 1px solid; */
}
section{
    margin-top: 15px;
}
.card:hover{
    background: var(--azul);
    color: white;
}
.nav-link:hover, .dropdown-item:hover, .dropdown-toggle::after{
    color: var(--azul);
}
.col{
    padding: 0 1px;
}

footer{
    margin: 0 auto;
    color: white;
    background: var(--azul);
    text-align: center;
    padding: 10px 0;
}

.login_form{
    width: 30vw;
    margin: 31vh auto;
}
.btn-primary{
    background: var(--azul);
    border: var(--bs-btn-border-width) solid var(--azul);
}
.btn-primary:hover{
    background: var(--darkazul);
    border: var(--bs-btn-border-width) solid var(--darkazul);
}