body{
    height: 616px;
    width: 996px;
    margin: 0 auto;
}
header{
    margin-bottom: 30px;
}

.espacamento1{
    margin-bottom: 10px;
    min-height: 246px;
}

iframe{
    width:485px;
}
.tamanho1{
    height:246px;
}
.card{
    border-color: black;
}