*{
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color:black;
}
.maincontainer{
    width: 960px;
    margin: 0 auto;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header img{
    width: 90px;
}
header ul{
    display: flex;
    list-style-type: none;
}
header ul li{
    margin: 10px;
}
.row{
    display: flex;
    justify-content: space-between;
}
.main_content{
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 10px;
    background: rgb(0,0,0, 0.90);
    color: white;
}
.main_content:hover{
    background: lightgreen;
    color: black;
    font-weight: bold;
}
.span{
    text-align: center;
    padding: 10px;
}

footer{
    background: lightgreen;
    color: black;
    font-weight: bold;
    padding: 40px;
    text-align: center;
}

.contato_content{
    margin-top: 20px;
    width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contato_content input{
    width: 300px;
    margin-bottom: 10px;
}