<div class="container">
  
  <h1>Lista dos 100 jogos mais incríveis</h1>
  <table>
    <thead>
      <td>Nome</td>
      <td>Ano</td>
      <td>Plataformas</td>
      <td>Gênero</td>
      <td>Comprar</td>
    </thead>

    <tr>
      <td>The Legend of Zelda: Ocarina of Time</td>
      <td>1998</td>
      <td>Nintendo 64, GameCube, Nintendo 3DS, Consola Virtual de Nintendo</td>
      <td>RPG de aventura</td>
      <td><button>Comprar</button></td>
    </tr>
    <tr>
      <td>Super Mario World</td>
      <td>1990</td>
      <td>SNES e Game Boy Advance</td>
      <td>Plataforma</td>
      <td><button>Comprar</button></td>
    </tr>
    <tr>
      <td>Grand Theft Auto V</td>
      <td>2013</td>
      <td>PlayStation 3, PlayStation 4, Xbox 360, Xbox One, PC</td>
      <td>Ação e aventura</td>
      <td><button>Comprar</button></td>
    </tr>
    <tr>
      <td>Minecraft</td>
      <td>2009</td>
      <td>
        PC, iOS, Android, Xbox 360, Xbox One, PlayStation 3, PlayStation 4,
        PlayStation Vita, Wii U e Nintendo Switch
      </td>
      <td>Sandbox e Sobrevivência</td>
      <td><button>Comprar</button></td>
    </tr>
    <tr>
      <td>Age of Empires II</td>
      <td>1999</td>
      <td>Microsoft Windows, Mac OS Classic e PlayStation 2</td>
      <td>Estratégia em tempo real</td>
      <td><button>Comprar</button></td>
    </tr>
    <tr>
      <td>League of Legends</td>
      <td>2009</td>
      <td>PC</td>
      <td>MOBA</td>
      <td><button>Comprar</button></td>
    </tr>
    <tr>
      <td>Super Mario Bros 3</td>
      <td>1988</td>
      <td>SNES</td>
      <td>Plataforma</td>
      <td><button>Comprar</button></td>
    </tr>
    <tr>
      <td>The Legend of Zelda: Breath of the Wild</td>
      <td>2017</td>
      <td>Nintendo Switch e Wii U</td>
      <td>Ação e aventura</td>
      <td><button>Comprar</button></td>
    </tr>
    <tr>
      <td>Dark Souls III</td>
      <td>2016</td>
      <td>Microsoft Windows, PlayStation 4 e Xbox One</td>
      <td>RPG de ação</td>
      <td><button>Comprar</button></td>
    </tr>
    <tr>
      <td>The Witcher 3</td>
      <td>2015</td>
      <td>PC, PlayStation 4, Xbox One e Nintendo Switch</td>
      <td>RPG de ação</td>
      <td><button>Comprar</button></td>
    </tr>
  </table>
</div>
