<div class="maincontent">
    <div class="carousel">
        <div class="carousel_item">
            <img src="../../assets/img/home/b1.jpg" alt="Banner 1" class="ativa">
            <img src="../../assets/img/home/b2.jpg" alt="Banner 2" class="desativa">
            <img src="../../assets/img/home/b3.jpg" alt="Banner 3" class="desativa">
        </div>
    </div>
    <h2>Destaque</h2>
    <div class="destaque">

        <div class="destaque_item">
            <img src="../../assets/img/home/d1.jpg" alt="Destaque 1">
            <span class="destaque_titulo">God of War 5</span>
            <span class="destaque_descricao">Some quick example text to build on the card title and make up the bulk of
                the card's content.</span>
        </div>
        <div class="destaque_item">
            <img src="../../assets/img/home/d2.jpg" alt="Destaque 1">
            <span class="destaque_titulo">Besige</span>
            <span class="destaque_descricao">Some quick example text to build on the card title and make up the bulk of
                the card's content.</span>
        </div>

    </div>
    <h2>Produtos</h2>
    <div class="produtos">

        <div class="produtos_item">
            <img src="../../assets/img/home/n1.png" alt="Produto 1">
            <span class="produtos_titulo">It Takes Two</span>
            <span class="produtos_descricao">Some quick example text to build on the card title and make up the bulk of
                the card's content.</span>
        </div>
        <div class="produtos_item">
            <img src="../../assets/img/home/n2.jpg" alt="Produto 2">
            <span class="produtos_titulo">Kao</span>
            <span class="produtos_descricao">Some quick example text to build on the card title and make up the bulk of
                the card's content.</span>
        </div>
        <div class="produtos_item">
            <img src="../../assets/img/home/n3.jpg" alt="Produto 3">
            <span class="produtos_titulo">Eleven</span>
            <span class="produtos_descricao">Some quick example text to build on the card title and make up the bulk of
                the card's content.</span>
        </div>

    </div>
</div>