:root {
    --azul: rgb(0, 205, 255);
    --darkazul: rgb(0, 131, 163);
}

*{
    font-family: sans-serif;
}
.maincontent {
    width: 960px;
    margin: 0 auto;
    /* border: 1px solid; */
}

h2 {
    margin-top: 15px;
    font-size: 30px;
}

.maincontent * {
    max-width: 960px;
}

.ativa {
    display: block;
}

.desativa {
    display: none;
}

.destaque,
.produtos {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.destaque_item,
.produtos_item {
    display: flex;
    flex-direction: column;
    width: 49%;
    position: block;
    border: 1px solid;
    border-radius: 5px;
}

.destaque_item:hover,
.produtos_item:hover {
    background-color: rgb(0, 205, 255);
    color: white;
    border: 1px solid rgb(0, 205, 255);
}

.destaque_titulo,
.destaque_descricao,
.produtos_titulo,
.produtos_descricao {
    max-width: 469px;
    margin: 0;
    width: 100%;
    font-size: 19px;
    padding: 6px;
    padding-left: 30px;
    width: fit-content;
}

.destaque_titulo,
.produtos_titulo {
    font-weight: bold;
}

.destaque_descricao,
.produtos_descricao {
    padding-bottom: 15px;
}

.produtos_item {
    width: 32%;
}

.produtos_item img {
    height: 176px;
}